<p>{{titulo}}</p>
<input id="{{questName}}" type="{{type}}" name="{{questName}}" placeholder="{{placeholder}}" {{#if target}} onchange="updateVal('{{questName}}','{{target}}')"{{/if}}>
<br>
<small>{{desc}}</small>
<hr>
